---
layout: base
---
<style type="text/css">
  .project-margins {
    max-width: 1205px;
  }
  .hero-section-header {
    margin-top: 75px;
    margin-bottom: 15px;
    color: #0136D0;
  }
  .hero-section-header-mobile {
    display: none;
  }
  .hero {
    background-size: cover;
    background-position: top;
  }
  .hero-card {
    max-width: 300px;
    margin-left: 54px;
    margin-right: 54px;
    color: white;
  }
  .hero-top-spacer {
    height: 87px;
  }
  .hero-bottom-spacer {
    height: 94px;
  }
  .hero-card-header {
    margin-top: 24px;
    margin-bottom: 11px;
  }
  .hero-card-description {

  }
  .project-margins h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.53px;
    line-height: 30px;
  }
  .project-margins h3 {
    font-size: 22px;
  }
  .project-margins p {
    font-size: 16px;
  }
  .hero-link, .hero-link:hover {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
  }

  /* Mobile */
  @media (max-width: 767px) {
    .hero {
      margin: 0 auto;
      max-width: 507px;
    }
    .hero-card {
      margin-left: 15px;
      margin-right: 15px;
    }
    .hero-top-spacer {
      height: 236px;
    }
    .hero-bottom-spacer {
      height: 54px;
    }
    .hero-section-header-mobile {
      display: block;
      margin-top: 40px;
      margin-bottom: 26px;
      color: #0136D0;
    }
    .hero-section-header {
      display: none;
    }
  }
</style>

<div class="margins project-margins">
  <h2 class="hero-section-header">Brand new 🌟⚡️🚀🎉📣🏁👻</h2>
  <h2 class="hero-section-header-mobile">Brand new ⚡️🚀🎁📣🏁</h2>
  {% assign hero = site.data.projects[0] %}
  <style type="text/css">
    .hero {
      background-image: url({{ hero.hero_desktop_image }});
    }
    @media (max-width: 767px) {
      .hero {
        background-image: url({{ hero.hero_mobile_image }});
      }
    }
  </style>
  <a href="{{ hero.link_url }}" class="hero-link">
    <div class="hero">
      <div class="hero-card">
        <div class="hero-top-spacer"></div>
        <h3 class="hero-card-header">{{ hero.title }}</h3>
        <p class="hero-card-description">{{ hero.description }}</p>
        <span style="text-decoration: underline;">{{ hero.link_title }}</span>
        <div class="hero-bottom-spacer"></div>
      </div>
    </div>
  </a>
  <style>
    .recent-section-header {
      margin-top: 80px;
      margin-bottom: 24px;
    }
    .project-card {
      padding-bottom: 92px;
      max-width: 567px;
    }
    .project-card-header {
      margin-top: 30px;
      margin-bottom: 6px;
    }
    .project-card-description {
      margin-top: 6px;
      margin-bottom: 0px;
    }
    .project-link, .project-link:hover {
      color: #0041FF;
      font-size: 16px;
    }

    @media (max-width: 767px) {
      .project-card {
        padding-bottom: 50px;
      }
      .col-centered {
        float: none;
        margin: 0 auto;
      }
    }
  </style>
  <h2 class="recent-section-header">Recent work</h2>
  {% for project in site.data.projects offset:1 %}
    {% cycle '<div class="row">', '' %}
      <div class="col-sm-6 project-card col-centered">
      {% if project.gfycat_id %}
        <video class="gfy-video"
                autoplay
                loop=""
                playsinline=""
                muted=""
                poster="https://thumbs.gfycat.com/{{ project.gfycat_id }}-poster.jpg"
                style="width: 100%; height: 100%; object-fit: cover;">
          <source src="https://giant.gfycat.com/{{ project.gfycat_id }}.webm" type="video/webm" class="webmsource">
          <source src="https://giant.gfycat.com/{{ project.gfycat_id }}.mp4" type="video/mp4" class="mp4source">
        </video>
      {% else %}
        <img src="{{ project.image }}" />
      {% endif %}
        <h3 class="project-card-header">{{ project.title }}</h3>
        <p class="project-card-description">{{ project.description }}</p>
        <a class="project-link" href="{{ project.link_url }}">{{ project.link_title }}</a>
      </div>
    {% cycle '', '</div>' %}
  {% endfor %}
</div>

{% include contact.html %}
