
/* GLOBAL */

@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu-Medium.eot');
  src: url('fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Apercu-Medium.woff') format('woff'),
    url('fonts/Apercu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  /* font is Apercu, as loaded by font-face, or fallback to system font */
  font-family: 'Apercu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: #373737;
  letter-spacing: -0.1px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

.margins {
  max-width: 1040px;
  padding: 0 50px;
  margin: 0 auto;
}
.margins-narrow {
  max-width: 740px;
  padding: 0 50px;
  margin: 0 auto;
}
.margins-wide {
  max-width: 1160px;
  padding: 0 50px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .margins, .margins-narrow, .margins-wide {
    padding: 0 20px;
  }

  .wide-paragraph {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 26px;
  }
}

.text-center-xs {
  text-align: center;
}
@media (min-width: 768px) {
  .text-center-xs {
    text-align: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

p {
    margin: 0 0 2em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline; 
  color: inherit;
  text-decoration-skip: ink;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.image-banner {
  background-size: auto 100%;
  background-position: center;
  background-color: #d8d8d8;
}
