
/* GLOBAL */

@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu-Medium.eot');
  src: url('fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Apercu-Medium.woff') format('woff'),
    url('fonts/Apercu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* We love making thing: */

body {
  font-family: 'Apercu';
  font-size: 22px;
  color: #373737;
  letter-spacing: 0;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

.margins {
  max-width: 1040px;
  padding: 0 50px;
  margin: 0 auto;
}
.margins-narrow {
  max-width: 700px;
  padding: 0 50px;
  margin: 0 auto;
}
.margins-wide {
  max-width: 1160px;
  padding: 0 50px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .margins, .margins-narrow, .margins-wide {
    padding: 0 20px;
  }
}

.text-center-xs {
  text-align: center;
}
@media (min-width: 768px) {
  .text-center-xs {
    text-align: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

p {
    margin: 0 0 2em;
}

img {
  max-width: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}