<style>
  .section-contact {
    padding-top: 75px;
  }
  
  .paragraph-contact {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    .section-contact {
      padding-top: 40px;
    }

    .paragraph-contact {
      margin-left: 11px;
      margin-right: 11px;
      font-size: 24px;
      line-height: 29px;
    }
  }
</style>

<div class="section section-contact" style="background-color: #F4F4F4; 
                            color: #3F3F3F;
                            padding-bottom: 25px;">
  <div class="margins-narrow">
    <p class="paragraph-contact">
      We like meeting new people, potential collaborations and the prospect of new exciting work. If you have an enquiry relating to any of these please get in touch.<br><br>👇
    <br><br>
      <a href="mailto:hello@nordprojects.co" style="color: #3F3F3F;
                                                    text-decoration: none;
                                                    padding-bottom: 5px;
                                                    background:
                                                      linear-gradient(
                                                        to right, 
                                                        #7FB5FF,
                                                        #5FFFE9 100%)
                                                      left 
                                                      bottom
                                                      transparent
                                                      no-repeat; 
                                                    background-size:100% 2px;">
        hello@nordprojects.co
      </a>
    </p>
  </div>
</div>