<style type="text/css">
  .footer {
    background-color: #363636;
    color: white;
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 20px;
  }
  .footer-margins {
    margin: 0 auto;
  }
  .footer-copyright {
    font-size: 12px;
    color: #959595;
    margin-top: 90px;
  }
  .footer-icon {
    display: block;
    width: 23px;
    height: 26px;
    margin-bottom: 11px;
  }
  .footer a, a:hover {
    color: white;
  }
  .site-link, .site-link:hover {
    text-decoration: none;
  }
</style>
<div class="footer">
  <div class="margins">
    <div class="row">
      <div class="col-sm-3">
        <img src="/img/nord-icon.png" class="footer-icon">
        Nord Projects<br>
        A design &amp; technology studio<br>
        <a href="mailto:hello@nordprojects.co">hello@nordprojects.co</a>
      </div>
      <div class="col-sm-2">
        <div style="height: 37px"></div>
        <a href="https://www.google.co.uk/maps/place/Mother+Studios/@51.5429276,-0.0232907,18.89z/data=!4m5!3m4!1s0x48761d1330c01143:0x6452d2afed433262!8m2!3d51.5428279!4d-0.0224353">
          Unit 9 Queens Yard<br>
          Hackney Wick<br>
          London E9 5EN<br>
        </a>
      </div>
      <div class="col-sm-2">
        <div style="height: 37px"></div>
        <a href="/" class="site-link">About<br></a>
        <a href="/projects" class="site-link">Projects<br></a>
        <a href="/Lantern" class="site-link">Lantern<br></a>
      </div>
    </div>
    <div class="row footer-copyright">
      <div class="col-sm-9">
        Nord Projects Ltd. Registered in England and Wales, no. 10779143. VAT: GB281 5867 69.
      </div>
      <div class="col-sm-3" style="margin-top: 20px;">
        ©Copyright Nord Projects 2018
      </div>
    </div>
  </div>
</div>
