<div id="gpu-particles-animation">
    <div class="gpu-particles-fallback-image">
    </div>
</div>

<style>
  #gpu-particles-animation {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  .gpu-particles-fallback-image {
    position: absolute;
    left: 53%;
    top: 31%;
    transform: translate(-50%, -50%);

    width: 667px;
    max-width: 120%;
    padding-bottom: 82%;

    background-image: url(/img/web-gl-fallback.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: none;
  }
  @media (min-width: 768px) {
    .gpu-particles-fallback-image {
      left: 70%;
      top: 50%;
      width: 550px;
    }
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>

<script type="x-shader/x-vertex" id="kernelVert">
varying vec2 texcoord;

void main() {
    texcoord = uv;
    gl_Position = vec4(position, 1.);
}
</script>

<script type="x-shader/x-fragment" id="clearFrag">
precision highp float;
varying vec2 texcoord;

void main() {
    vec2 uv = texcoord;
    gl_FragColor = vec4(0.5, 0.5, 0.5, 1.);
}
</script>

<script type="x-shader/x-fragment" id="forceFrag">
precision highp float;
varying vec2 texcoord;

uniform sampler2D accelerationTex;
uniform sampler2D positionTex;
uniform vec3 scale;
uniform vec3 attractor;
uniform float time;
uniform float seed;
uniform int inverse;

float rnd(vec2 p){
    return fract(sin(dot(p ,vec2(12.9898,78.233))) * 43758.5453);
}

vec3 uncomp(vec3 v3) {
    v3 = ((v3 - 0.5) * 2.0);
    v3.x *= scale.x;
    v3.y *= scale.y;
    v3.z *= scale.z;
    return v3;
}

vec3 comp(vec3 v3) {
    v3.x /= scale.x;
    v3.y /= scale.y;
    v3.z /= scale.z;
    return (v3 / 2.0) + 0.5;
}


void main() {
    vec3 from = uncomp(texture2D(positionTex, texcoord).xyz);
    vec3 to = uncomp(attractor);
    vec3 dir = to - from;
    float m = length(dir);

    if(inverse > 0) {
        dir *= -1.;
        m = clamp(m, 0., 0.001);
    } else {
        m = clamp(m, 0., 0.02);
    }

    vec3 rotationComponent = vec3(0.0);

    vec3 rotationDirection = cross(from, vec3(0.1, 1.0, 0.1));
    rotationComponent += rotationDirection * 0.04;

    vec3 rotatorPosition = vec3(sin(time*0.1), 0.0, cos(time*0.08+20.0));
    vec3 rotationDirection2 = cross(from - rotatorPosition, vec3(1.0, -0.1, -0.1));
    rotationComponent += normalize(rotationDirection2) * 0.08 * sin(0.02*time) / length(from - rotatorPosition);

    // clamp size of the thing
    if (length(from) > 10.0) {
        rotationComponent *= -0.5;
    }
    
    dir += rotationComponent;


    vec3 f = normalize(dir) * m; 

    // random motion
    f.x += rnd(from.xy) * 0.001;
    f.y += rnd(from.xz) * 0.002;
    f.z += rnd(from.yz) * 0.003;

    gl_FragColor = vec4(comp(f), 1.);
}
</script>

<script type="x-shader/x-fragment" id="accelerationFrag">
precision highp float;
varying vec2 texcoord;

uniform sampler2D accelerationTex;
uniform sampler2D velocityTex;
uniform sampler2D positionTex;
uniform vec3 scale;
uniform vec3 mousePosition;
uniform vec3 mousePositionVelocity;
uniform vec3 mousePositionToCameraVector;
uniform float time;
uniform float dt;
uniform float seed;
uniform vec3 clickPosition;
uniform float clickTime;
uniform float particleDragThreshold;
uniform int initializeState;

vec3 uncomp(vec3 v3) {
    v3 = ((v3 - 0.5) * 2.0);
    v3.x *= scale.x;
    v3.y *= scale.y;
    v3.z *= scale.z;
    return v3;
}

vec3 comp(vec3 v3) {
    v3.x /= scale.x;
    v3.y /= scale.y;
    v3.z /= scale.z;
    return (v3 / 2.0) + 0.5;
}

void main() {

    if(time <= 0.3 && initializeState == 1) {
        // initialize

        gl_FragColor = vec4(0.45, 0.45, 0.45, 1.);
    } else {
        // update velocity

        vec3 vel = uncomp(texture2D(velocityTex, texcoord).xyz);
        // linear drag
        if(length(vel) > particleDragThreshold) {
            vel *= 0.9;
        }

        // collision with mouse
        // collision is within a volume (a cylinder) described by a point center
        // and a vector of the primary axis.
        vec3 pos = uncomp(texture2D(positionTex, texcoord).xyz);
        vec3 lineStart = mousePosition - mousePositionToCameraVector;
        vec3 lineEnd = mousePosition + mousePositionToCameraVector;
        vec3 cylinderCrossPos = (cross(lineEnd - lineStart, lineStart - pos)
                                 /
                                 length(lineEnd - lineStart));
        float cylinderToPos = length(cylinderCrossPos);

        if (cylinderToPos < 0.8) {
            if (clickTime > time - 0.1) {
                // repel from the clicked position
                vel = normalize(cylinderCrossPos) * 1.6;
            } else {
                if (cylinderToPos < 0.4) {
                    vec3 cylinderToPoint = cross(cylinderCrossPos, lineEnd - lineStart);
                    vel = reflect(vel, normalize(cylinderToPoint)) * 0.7 + mousePositionVelocity * 15.0;
                    if (length(vel) < 0.1) {
                        vel = 0.2 * normalize(vel);
                    }
                    //vel += mousePositionVelocity * 10.0;
                    //vel += (mousePosition - pos) * 0.01;  
                }
            }
        }

        vec3 acc = uncomp(texture2D(accelerationTex, texcoord).xyz);
        vel += acc;

        // gl_FragColor = vec4(0.5, 0.5, 0.5, 1.);
        gl_FragColor = vec4(comp(vel), 1.);
    }

}
</script>

<script type="x-shader/x-fragment" id="velocityFrag">
precision highp float;
varying vec2 texcoord;

uniform sampler2D accelerationTex;
uniform sampler2D velocityTex;
uniform sampler2D positionTex;
uniform vec3 scale;
uniform float time;
uniform float dt;
uniform float seed;
uniform int initializeState;

float rnd(vec2 p){
    return fract(sin(dot(p ,vec2(12.9898,78.233))) * 43758.5453);
}

vec3 uncomp(vec3 v3) {
    v3 = ((v3 - 0.5) * 2.0);
    v3.x *= scale.x;
    v3.y *= scale.y;
    v3.z *= scale.z;
    return v3;
}

vec3 comp(vec3 v3) {
    v3.x /= scale.x;
    v3.y /= scale.y;
    v3.z /= scale.z;
    return (v3 / 2.0) + 0.5;
}

// output position
void main() {

    if(time <= 0.3 && initializeState == 1) {
        float r = (rnd(texcoord) + 2.0) * 2.0;
        float q = rnd(texcoord+seed * 2000.0) * 0.2;
        float theta = rnd(texcoord + seed) * 3.1415 * 2.0;
        float phi = rnd(texcoord + seed * 10.0) * 3.1415 * 2.0;

        float x = r*sin(theta) + q*sin(phi);
        float y = q*cos(phi);
        float z = r*cos(theta);
        gl_FragColor = vec4(comp(vec3(x, y, z)), 1.0);
    } else {
        vec3 vel = uncomp(texture2D(velocityTex, texcoord).xyz);

        vec4 p = texture2D(positionTex, texcoord);
        vec3 pos = uncomp(p.xyz);
        pos += vel * dt;
        gl_FragColor = vec4(comp(pos), 1.0);
    }
}
</script>

<script type="x-shader/x-fragment" id="positionFrag">
varying vec4 color;

void main() {
  gl_FragColor = color;
}
</script>

<script type="x-shader/x-vertex" id="particleVert">
attribute vec2 vuv;
varying vec4 color;

uniform sampler2D positionTex;
uniform float pointSize;
uniform float time;
uniform vec3 scale;

vec3 uncomp(vec3 v3) {
    v3 = ((v3 - 0.5) * 2.0);
    v3.x *= scale.x;
    v3.y *= scale.y;
    v3.z *= scale.z;
    return v3;
}

void main() {
    vec2 texcoord = vuv;

    vec3 p = texture2D(positionTex, texcoord).xyz;
    vec3 pos = uncomp(p);

    vec3 color1 = vec3(0.43, 0.95, 1.0);
    color1 *= 0.8;
    color1.b = 0.95;
    //vec3 color2 = vec3(0.92, 0.58, 1.0);
    vec3 color2 = vec3(0.49, 0.71, 1.0);
    
    float gradientDriver = p.y * 3.0;

    color = vec4(clamp(p.x, -0.5, 1.0) * color1 +
                 clamp(1.0-p.x, -0.5, 1.0) * color2,
                 1.0);
    
    color.rgb *= clamp(p.y * 0.5, -1.0, 0.0) + 1.0;
    color.rgb += clamp(p.y * 0.5, 0.0, 1.0);

    float opacity = clamp(time * 0.5, 0.0, 1.0);
    color.a *= opacity;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(pos, 1.0);
    gl_PointSize = pointSize;
}
</script>

<script type="x-shader/x-fragment" id="particleFrag">
varying vec4 color;

void main() {
    gl_FragColor = color;
}
</script>

<script>
    (function(global, THREE) {

        function FboPingPong(width, height, type) {
            this.width = width;
            this.height = height;
            this.type = type;
            this.readBufferIndex = 0;
            this.writeBufferIndex = 1;
            this.buffers = [
                this.createBuffer(width, height, type),
                this.createBuffer(width, height, type)
            ];
        }

        FboPingPong.prototype = {

            getReadBuffer : function() {
                return this.buffers[this.readBufferIndex];
            },

            getWriteBuffer : function() {
                return this.buffers[this.writeBufferIndex];
            },

            swap : function() {
                var tmp = this.buffers[this.writeBufferIndex];
                this.buffers[this.writeBufferIndex] = this.buffers[this.readBufferIndex];
                this.buffers[this.readBufferIndex] = tmp;
            },

            createBuffer : function(width, height, type) {
                return new THREE.WebGLRenderTarget(width, height, {
                    wrapS: THREE.RepeatWrapping,
                    wrapT: THREE.RepeatWrapping,
                    minFilter: THREE.NearestFilter,
                    magFilter: THREE.NearestFilter,
                    format: THREE.RGBAFormat,
                    type: type,
                    stencilBuffer: false
                });
            },
            
            save : function(renderer) {
                var gl = renderer.getContext();
                var width = this.width;
                var height = this.height;
                var data = new Uint8Array(width * height * 4);
                var framebuffer = renderer.properties.get(this.getReadBuffer()).__webglFramebuffer;
                gl.bindFramebuffer(gl.FRAMEBUFFER, framebuffer);

                gl.readPixels(0, 0, width, height, gl.RGBA, gl.UNSIGNED_BYTE, data);

                // Create a 2D canvas to store the result 
                var canvas = document.createElement('canvas');
                canvas.width = width;
                canvas.height = height;
                var context = canvas.getContext('2d');

                // Copy the pixels to a 2D canvas
                var imageData = context.createImageData(width, height);
                imageData.data.set(data);
                context.putImageData(imageData, 0, 0);
                return canvas.toDataURL();
            },

        };

        function isWebGLSupported() {
            try {
                var canvas = document.createElement( 'canvas' );
                return !! ( window.WebGLRenderingContext && ( canvas.getContext( 'webgl' ) || canvas.getContext( 'experimental-webgl' ) ) );
            } catch ( e ) {
                return false;
            }
        }

        function areRequiredExtensionsSupported() {
            try {
                var canvas = document.createElement('canvas');
                var gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
                return !!(gl.getExtension('OES_texture_float') || gl.getExtension('OES_texture_half_float'));
            } catch (e) {
                return false;
            }
        }

        var app, GPUParticlesAnimation = function(id) {
            app = this;
            app.init(id);
        };

        GPUParticlesAnimation.prototype = {

            init: function(id) {
                var $dom = $("#" + id);

                if (!isWebGLSupported() || !areRequiredExtensionsSupported()) {
                    $dom.find('.gpu-particles-fallback-image').show();
                    return;
                }

                var saveGLState = false;
                if (window.location.hash.search('save-gl-state') !== -1) {
                    saveGLState = true;
                }

                var scene = new THREE.Scene();
                var domWidth = $dom.width();
                var domHeight = $dom.height();

                var camera = new THREE.PerspectiveCamera(75, domWidth / domHeight, 0.1, 100);
                camera.position.z = 40*0.3;
                camera.position.y = 30*0.3;
                camera.position.x = 15*0.3;

                var renderer = new THREE.WebGLRenderer({
                    alpha: true,
                    antialias: true,
                });

                var pixelRatio;
                if (domWidth < 768) {
                    // mobile view
                    pixelRatio = window.devicePixelRatio ? window.devicePixelRatio : 1.0;
                } else {
                    // desktop view
                    pixelRatio = 1.0;
                }
                renderer.setPixelRatio(pixelRatio);
                renderer.setSize(domWidth, domHeight);
                $dom.append(renderer.domElement);

                var sphere = new THREE.Mesh(new THREE.SphereGeometry(0.1, 32, 32), new THREE.MeshNormalMaterial({}));
                // scene.add(sphere);
                var mouseSphere = new THREE.Mesh(new THREE.SphereGeometry(0.2, 32, 32), new THREE.MeshNormalMaterial({}));
                // scene.add(mouseSphere);

                var sceneRTT = new THREE.Scene();
                var cameraRTT = new THREE.OrthographicCamera( -1, 1, 1, -1, 0, 1 );
                var quadRTT = new THREE.Mesh(new THREE.PlaneBufferGeometry(2, 2), null);
                sceneRTT.add(quadRTT);

                var blit = function(material, writeBuffer) {
                    quadRTT.material = material;
                    renderer.render(sceneRTT, cameraRTT, writeBuffer, false);
                };

                var ps;

                var size = 128;
                // var size = 512;

                var halfFloatMode = /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
                var type = halfFloatMode ? THREE.HalfFloatType : THREE.FloatType;
                var particleDragThreshold = halfFloatMode ? 1.9 : 1.3;

                var fboAccelerationPP = new FboPingPong(size, size, type);
                var fboVelocityPP = new FboPingPong(size, size, type);
                var fboPositionPP = new FboPingPong(size, size, type);
                window.renderer = renderer;

                // var space = new THREE.Vector3(10, 10, 10);
                // var space = new THREE.Vector3(5, 5, 5);
                var space = new THREE.Vector3(5, 3, 5);
                var force;
                var acceleration;
                var velocity;
                var clear;

                var shaders = this.loadShaders([
                    "particleVert",
                    "particleFrag",
                    "kernelVert",
                    "forceFrag",
                    "accelerationFrag",
                    "velocityFrag",
                    "positionFrag",
                    "clearFrag",
                ]);

                var scale = { type : "v3", value : new THREE.Vector3(5, 5, 5) };
                var time = { type : "f", value : 0.0 };
                var seed = { type : "f", value : Math.random() };
                var mousePosition = { type : "v3", value : new THREE.Vector3(10000.0, 10000.0, 0.0) };
                var mousePositionVelocity = { type : "v3", value : new THREE.Vector3(0.0, 0.0, 0.0) };
                var mousePositionToCameraVector = { type : "v3", value : new THREE.Vector3(1.0, 0.0, 0.0) };
                var dt = { type : "f", value : 0.0 };
                var clickTime = { type : "f", value : 0.0 };
                var clickPosition = { type : "v3", value : new THREE.Vector3(0.0, 0.0, 0.0) };
                var initializeState = { type : "i", value : saveGLState ? 1 : 0 };

                force = new THREE.ShaderMaterial({
                    uniforms : {
                        accelerationTex    : { type : "t", value : fboAccelerationPP.getReadBuffer() },
                        positionTex        : { type : "t", value : fboPositionPP.getReadBuffer() },
                        attractor          : { type : "v3", value : new THREE.Vector3(0.0, 0.0, 0.0) },
                        scale              : scale,
                        time               : time,
                        dt                 : dt,
                        seed               : seed,
                        inverse            : { type : "i", value : 0 }
                    },
                    vertexShader : shaders[2],
                    fragmentShader : shaders[3]
                });

                acceleration = new THREE.ShaderMaterial({
                    uniforms : {
                        accelerationTex    : { type : "t", value : fboAccelerationPP.getReadBuffer() },
                        velocityTex        : { type : "t", value : fboVelocityPP.getReadBuffer() },
                        positionTex        : { type : "t", value : fboPositionPP.getReadBuffer() },
                        scale              : scale,
                        time               : time,
                        dt                 : dt,
                        seed               : seed,
                        mousePosition      : mousePosition,
                        mousePositionToCameraVector : mousePositionToCameraVector,
                        mousePositionVelocity : mousePositionVelocity,
                        clickPosition      : clickPosition,
                        clickTime          : clickTime,
                        particleDragThreshold: { type: 'f', value: particleDragThreshold },
                        initializeState    : initializeState
                    },
                    vertexShader : shaders[2],
                    fragmentShader : shaders[4]
                });

                velocity = new THREE.ShaderMaterial({
                    uniforms : {
                        accelerationTex    : { type : "t", value : fboAccelerationPP.getReadBuffer() },
                        velocityTex        : { type : "t", value : fboVelocityPP.getReadBuffer() },
                        positionTex        : { type : "t", value : fboPositionPP.getReadBuffer() },
                        scale              : scale,
                        time               : time,
                        dt                 : dt,
                        seed               : seed,
                        initializeState    : initializeState,
                    },
                    vertexShader : shaders[2],
                    fragmentShader : shaders[5]
                });
                
                clear = new THREE.ShaderMaterial({
                    uniforms : {
                    },
                    vertexShader : shaders[2],
                    fragmentShader : shaders[shaders.length - 1]
                });

                var geometry = new THREE.BufferGeometry();
                var amount = size*size;
                var positions = new Float32Array( amount * 3 );
                var vuvs = new Float32Array( amount * 2 );

                var position = new THREE.Vector3();
                var uv = new THREE.Vector2();

                for(var y = 0; y < size; y++) {
                    var ry = y / size;
                    for(var x = 0; x < size; x++) {
                        var i = y*size + x;
                        position.x = (Math.random() - 0.5) * 100;
                        position.y = (Math.random() - 0.5) * 100;
                        position.z = (Math.random() - 0.5) * 100;
                        position.toArray(positions, i*3);

                        uv.x = x / size;
                        uv.y = ry;
                        uv.toArray(vuvs, i*2);
                    }
                }

                geometry.addAttribute('position', new THREE.BufferAttribute(positions, 3));
                geometry.addAttribute('vuv', new THREE.BufferAttribute(vuvs, 2));

                ps = new THREE.Points(
                    geometry,
                    new THREE.ShaderMaterial({
                        uniforms : {
                            positionTex         : { type : "t", value : fboPositionPP.getReadBuffer() },
                            pointSize           : { type : "f",     value : 2.5*pixelRatio },
                            scale               : scale,
                            time                : time,
                            px                  : { type : "f",     value : 1 / size }
                        },
                        vertexShader : shaders[0],
                        fragmentShader : shaders[1],
                        blending : THREE.NormalBlending,
                        transparent : true,
                        depthTest : false
                    })
                );
                scene.add(ps);
                
                var clock = new THREE.Clock();

                var dt = 0.1;
                var mspace = space.clone().divideScalar(2.0);

                var previousMouseUpdateTimestamp = 0;
                var touchDown = false;

                function unproject(pageX, pageY) {
                    var zeroPoint = new THREE.Vector3(0,0,0);
                    zeroPoint.project(camera);
                    var result = new THREE.Vector3(2 * pageX/domWidth - 1.0,
                                                   -2 * pageY/domHeight + 1.0,
                                                   zeroPoint.z);
                    result.unproject(camera);
                    return result;
                }

                function updateMousePositionUniforms(pageX, pageY) {
                    var previousMousePosition = mousePosition.value;
                    
                    mousePosition.value = unproject(pageX, pageY);

                    mousePositionToCameraVector.value = mousePosition.value.clone()
                                                                           .sub(camera.position)
                                                                           .normalize();

                    var timeSinceLastEvent = event.timeStamp - previousMouseUpdateTimestamp;
                    mousePositionVelocity.value = mousePosition.value.clone()
                                                                     .sub(previousMousePosition)
                                                                     .divideScalar(timeSinceLastEvent);

                    previousMouseUpdateTimestamp = event.timeStamp;
                }

                document.addEventListener('mousemove', function (event) {
                    updateMousePositionUniforms(event.pageX, event.pageY);
                }, false);

                document.addEventListener('mousedown', function (event) {
                    updateMousePositionUniforms(event.pageX, event.pageY);
                    clickPosition.value = unproject(event.pageX, event.pageY);
                    clickTime.value = clock.elapsedTime;
                });
                
                document.addEventListener('touchstart', function (event) {
                    updateMousePositionUniforms(event.pageX, event.pageY);
                    clickPosition.value = unproject(event.pageX, event.pageY);
                    touchDown = true;
                }, false);
                document.addEventListener('touchmove', function (event) {
                    updateMousePositionUniforms(event.pageX, event.pageY);
                    clickPosition.value = unproject(event.pageX, event.pageY);
                }, false);
                document.addEventListener('touchend', function (event) {
                    updateMousePositionUniforms(event.pageX, event.pageY);
                    clickPosition.value = unproject(event.pageX, event.pageY);
                    touchDown = false;
                }, false);

                var simulate = function(t, dt, attractor) {
                    // apply force
                    
                    force.uniforms.accelerationTex.value = fboAccelerationPP.getReadBuffer().texture;
                    force.uniforms.positionTex.value = fboPositionPP.getReadBuffer().texture;
                    force.uniforms.time.value = t;
                    force.uniforms.attractor.value = attractor;
                    force.uniforms.dt.value = dt;
                    blit(force, fboAccelerationPP.getWriteBuffer());
                    fboAccelerationPP.swap();

                    // update velocity
                    acceleration.uniforms.accelerationTex.value = fboAccelerationPP.getReadBuffer().texture;
                    acceleration.uniforms.velocityTex.value = fboVelocityPP.getReadBuffer().texture;
                    acceleration.uniforms.positionTex.value = fboPositionPP.getReadBuffer().texture;
                    acceleration.uniforms.time.value = t;
                    acceleration.uniforms.dt.value = dt;
                    blit(acceleration, fboVelocityPP.getWriteBuffer());
                    fboVelocityPP.swap();

                    // update position
                    velocity.uniforms.accelerationTex.value = fboAccelerationPP.getReadBuffer().texture;
                    velocity.uniforms.velocityTex.value = fboVelocityPP.getReadBuffer().texture;
                    velocity.uniforms.positionTex.value = fboPositionPP.getReadBuffer().texture;
                    velocity.uniforms.time.value = t;
                    velocity.uniforms.dt.value = dt;
                    blit(velocity, fboPositionPP.getWriteBuffer());
                    fboPositionPP.swap();
                };
                window.fboVelocityPP = fboVelocityPP;

                var updateRendererSize = function() {
                    domWidth = $dom.width();
                    domHeight = $dom.height();
                    camera.aspect = domWidth / domHeight;
                    camera.updateProjectionMatrix();
                    renderer.setSize(domWidth, domHeight);

                    if (domWidth < 768) {
                        // mobile view
                        camera.lookAt(new THREE.Vector3(0, -5, 0));
                        camera.zoom = 0.7;
                    } else {
                        // desktop view
                        camera.lookAt(new THREE.Vector3(0, 0, 0));
                        camera.zoom = 1.0;
                    }
                };
                updateRendererSize();
                $(window).on('resize', updateRendererSize);


                (function loop() {
                    requestAnimationFrame(loop);

                    clock.getDelta();
                    var t = clock.elapsedTime * 0.25;
                    sphere.position.set(Math.cos(t) * mspace.x, Math.sin(t) * mspace.y, Math.sin(t) * mspace.z);
                    mouseSphere.position.set(mousePosition.value.x, mousePosition.value.y, mousePosition.value.z);
                    // mouseSphere.position.set(mousePosition.value);

                    if (touchDown) {
                        clickTime.value = clock.elapsedTime;
                    }

                    if(ps) {
                        simulate(clock.elapsedTime, dt, new THREE.Vector3(sphere.position.x / space.x * 0.5 + 0.5, sphere.position.y / space.y * 0.5 + 0.5, sphere.position.z / space.z * 0.5 + 0.5));
                        ps.material.uniforms.positionTex.value = fboPositionPP.getReadBuffer().texture;
                        blit(clear, fboAccelerationPP.getReadBuffer());
                    }

                    renderer.render(scene, camera);
                })();

                if (saveGLState) {
                    setTimeout(function () {
                        console.log('saving...');
                        var positionImg = fboPositionPP.save(renderer);
                        var velocityImg = fboVelocityPP.save(renderer);
                        var accelerationImg = fboAccelerationPP.save(renderer);
                        document.write('position: <img src="'+positionImg+'"/><br>velocity: <img src="'+velocityImg+'"/><br>acceleration: <img src="'+accelerationImg+'"/>');
                    }, 2000);
                } else {
                    // load the initial state
                    var loader = new THREE.TextureLoader();
                    var positionTexture, velocityTexture;

                    loader.load('/img/gl-initial-position.png', function (texture) {
                        positionTexture = texture;
                        if (positionTexture && velocityTexture) applyInitialState();
                    });
                    loader.load('/img/gl-initial-velocity.png', function (texture) {
                        velocityTexture = texture;
                        if (positionTexture && velocityTexture) applyInitialState();
                    });

                    function applyInitialState() {
                        var material = new THREE.MeshBasicMaterial({
                            map: positionTexture,
                        })
                        blit(material, fboPositionPP.getWriteBuffer());
                        fboPositionPP.swap();

                        var material = new THREE.MeshBasicMaterial({
                            map: velocityTexture,
                        })
                        blit(material, fboVelocityPP.getWriteBuffer());
                        fboVelocityPP.swap();
                    }
                }
            },

            loadShaders : function(names, success) {
                var shaders = [];

                for (var i = 0; i < names.length; i++) {
                  var name = names[i];
                  var shader = document.getElementById(name).textContent;
                  shaders.push(shader);
                }

                return shaders;
            },
        };

        global.GPUParticlesAnimation = GPUParticlesAnimation;
    })(window, THREE);

    var app = new GPUParticlesAnimation("gpu-particles-animation");
</script>
