<style type="text/css">
  .topnav {
    border-bottom: 3px solid #EEEEEE;
    position: relative;
    color: black;
    margin-bottom: 0px;
  }
  .nav-logo {
    width: 244px;
    height: 34px;
    background-image: url('/img/nav-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 40px;
    position: relative;
    top: 24px;
    display: inline-block;
  }
  .nav-collapse {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 9px;
  }
  .nav-menu {
    margin-right: 6px;
    margin-top: 19px;
    margin-bottom: 17px;
  }
  .nav-menu-item {
    display: inline-block;
    font-size: 19px;
  }
  .topnav a:link, .topnav a:visited {
    color: inherit;
  }
  .topnav a:hover {
    color: #555;
    background-color: transparent;
  }
  /* really specific selector to override bootstrap's styles */
  .nav>li>a {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    letter-spacing: 0.4px;
  }
  .nav>li {
    padding-right: 28px;
    padding-left: 27px;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  .topnav-breadcrumb-link {
    text-decoration: none;
  }
  .nav>li>a.topnav-breadcrumb-link:hover {
    text-decoration: none;
  }

  @media (min-width: 768px) { /* desktop */
    .nav>li>a.topnav-breadcrumb-link {
      display: none;
    }
  }

  @media (max-width: 767px) { /* mobile */
    .topnav {
      min-height: 60px;
    }
    .nav-logo {
      width: 160px;
      height: 25px;
      top: 17px;
      margin-left: 20px;
    }
    .nav-logo-icon {
      width: 23px;
      height: 25px;
      background-image: url('/img/nav-logo-icon.svg');
      background-size: cover;
      position: relative;
      top: 17px;
      margin-left: 20px;
      display: inline-block;
    }
    .nav-page-title-override {
      -webkit-font-smoothing: auto;
      position: absolute;
      font-size: 20px;
      top: 17px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .nav-menu {
      margin-top: 0px;
      margin-left: 11px;
      margin-bottom: 10px;
    }
    .nav-menu-item {
      font-size: 16px;
    }
    .nav>li>a {
      padding-top: 6px;
    }
    .nav>li>a.topnav-breadcrumb-link {
      display: block;
      margin-left: 25px;
    }
    .breadcrumb-seperator {
      display: none;
    }
  }
</style>
<nav class="navbar topnav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed nav-collapse" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <img src="/img/icon-menu.svg" />
    </button>

    <div class="hidden-xs">
      <a href="/"><div class="nav-logo"></div></a>
    </div>
    <div class="visible-xs">
      {% if page.nav_title %}
        <a href="/"><div class="nav-logo-icon"></div></a>
        <div class="nav-page-title-override">{{ page.nav_title }}</div>
      {% else %}
        <a href="/"><div class="nav-logo"></div></a>
      {% endif %}
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right nav-menu">
      <li class="nav-menu-item"><a href="/">Studio</a></li>
      <li class="nav-menu-item">
        <a href="/projects/">Projects</a>
        {% if page.breadcrumb.under == "Projects" %}
          <a href="{{ page.breadcrumb.url }}"
             class="topnav-breadcrumb-link">
            {{ page.breadcrumb.name }}
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
