---
layout: base
title: Channels - Lantern
description: Using an Ikea lamp, laser projector and Android Things, Lantern explores the relationships between surfaces and content — augmenting real-world objects and environments with glanceable, meaningful data.
nav_title: Lantern
breadcrumb:
  under: Projects
  name: Lantern
  url: /lantern/
custom_css: ./style.css
---

<div class="lantern-base">
  <style>
    .hero {
      background: #0067c3;
      color: white;
      text-align: center;

      position: relative;
      overflow: hidden;
    }
    .hero-title {
      font-size: 30px;
      letter-spacing: 0.6px;
      margin-bottom: 10px;
    }
    .hero-tagline {
      font-size: 17px;
      letter-spacing: 0.45px;
      line-height: 24px;
    }
    .hero-video-spacer-mobile {
      height: 90vw;
    }
    .hero-bg-container {
      position: absolute;
      width: 1024px;
      max-width: 100vw;
      top: 70%;
      left: 50%;
      bottom: 0;
    }
    .hero-bg {
      padding-top: 112.5%;
      width: 200%;
      height: 0;
      z-index: 0;
      transform: translate(-33%, -46%);
    }
    .hero-content {
      position: relative;
      z-index: 1;
    }
    @media (min-width: 768px) { /* desktop */
      .hero {
        text-align: left;
        min-height: 500px;
        height: 55vw;
        max-height: 550px;
      }
      .hero-title {
        font-size: 47px;
      }
      .hero-tagline {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.64px;
      }
      .hero-bg-container {
        width: 1024px;
        max-width: 100vw;
        top: 50%;
        left: 55%;
        bottom: 0;
      }
      .hero-bg {
        padding-top: 56.25%;
        width: 100%;
        transform: translate(-60%, -50%);
      }
      .hero-video-spacer-mobile {
        height: 0;
      }
    }
  </style>
  <div class="hero">

    <div class="hero-bg-container">
      <div class="hero-bg">
        <img src="img/color-cube-bg.jpg"
             style="position: absolute;
                    width: 183.64%;
                    height: auto;
                    max-width: none;
                    max-height: none;
                    top: -46.4%;
                    left: -41.8%;">
        <video autoplay loop muted playsinline 
               style="position: absolute;
                      top: 0; height: 100%;
                      left: 0; width: 100%;
                      z-index: 0;">
          <source src="https://nordprojects-static.s3.amazonaws.com/lantern/color-cube.mp4"
                  type="video/mp4">
          <source src="https://nordprojects-static.s3.amazonaws.com/lantern/color-cube.webm"
                  type="video/webm">
        </video>
        <img src="img/color-cube-mask.png"
             style="position: absolute;
                    width: 104.16%;
                    height: auto;
                    max-width: none;
                    max-height: none;
                    top: -3.7%;
                    left: -2.1%;">
      </div>
    </div>

    <div class="hero-content" style="">
      {% include_relative nav.inc.html page="channels" desktop_bg_color="#0085d3" %}
      <div class="spacer hidden-xs" style="height: 60px; height: calc(40% - 220px)"></div>
      <div class="margins">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <h1 class="hero-title">
              Real-world AR
            </h1>
            <p class="hero-tagline">
              Tables, shelves, floors and ceilings all become surfaces to paint in with glanceable, meaningful information and interfaces.
            </p>
            <div class="hero-video-spacer-mobile"></div>
          </div>
        </div>
      </div>            
    </div>
  </div>

  <div class="spacer" style="height: 40px"></div>
  <div class="spacer hidden-xs" style="height: 140px"></div>
  <div class="margins">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        Lantern is built around the concept of ‘channels’ – mini apps that can be configured through the companion app, hook into data feeds online and display projected UI.  
        <br><br>Here’s a selection of the channels we created:          
      </div>
    </div>
  </div>
  <div class="spacer" style="height: 40px"></div>
  <div class="spacer hidden-xs" style="height: 140px"></div>

  <style>
    .channel-row {
      overflow: hidden;
      position: relative;
    }
    .channel-row-textbox {
      padding: 22px 25px;
      padding-bottom: 30px;
    }
    .channel-row-header {
      font-size: 22px;
      margin: 1em 0;
      margin-bottom: 0.5em;
    }
    .channel-row-description {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.14px;
    }

    @media (max-width: 767px) { /* mobile */
      .channel-content {
        background: white;
        color: #363636;
        z-index: 2;
        position: relative;
      }
      .channel-content.mobile-full-bleed {
        background: transparent;
        color: inherit;
      }
      .channel-row-background-spacer {
        height: 100vw;
      }
      .channel-bg {
        position: absolute;
        z-index: 1;
        height: auto;
        width: 218%;
        top: 48vw;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media (min-width: 768px) { /* desktop */
      .channel-row {
        max-height: 650px;
        height: 45vw;
        min-height: 420px;
      }
      .channel-bg {
        position: absolute;
        z-index: 1;
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .channel-content {
        width: 90vw;
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 30px;
        height: 100%;

        position: relative;
        z-index: 2;

        display: flex;
        align-items: center;

        font-size: 16px;
      }
      .channel-row-textbox {
        width: 38%;
        padding: 0;
        /* min-width: 400px; */
      }
      .channel-row-textbox.desktop-wider {
        width: 45%
      }
      .channel-row-header {
        font-size: 1.4em;
        letter-spacing: 0.005em;
        line-height: 1.07em;
        margin: 1em 0;
        margin-bottom: 0.2em;
      }
      .channel-row-description {
        font-size: 1em;
        letter-spacing: 0.005em;
        line-height: 1.5em;
        margin-bottom: 1em;
      }
      .channel-row-how {
        display: block;
      }
    }
    @media (min-width: 1100px) { /* big desktop */
      .channel-content {
        font-size: 17px;
      }
    }
  </style>

  <div class="channel-row"
       style="background: #cfcfdb;
              color: #282828;">
    <div class="channel-row-background-spacer"></div>
    <video autoplay loop muted playsinline
           class="channel-bg"
           data-mobile-style="transform: translate(-31%, -50%);
                              width: 236%"
           data-desktop-style="min-width: 110%;
                               min-height: 100%;
                               max-width: 100%;
                               left:                 0%; top: 60%;
                               transform: translate(-0%,     -60%);">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/now-playing-table.mp4"
              type="video/mp4">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/now-playing-table.webm"
              type="video/webm">
    </video>
      
    <div class="channel-content"
         style="justify-content: flex-end">
      <div class="channel-row-textbox">
        <h2 class="channel-row-header">
          Now Playing
        </h2>
        <p class="channel-row-description">
          Displays song information from whatever’s playing through your cast-enabled speaker.
        </p>
        <p class="channel-row-description">
            <span class="channel-row-how"><u>How</u>:</span>
            Lantern discovers cast devices on the local network using mDNS discovery, and connects via the Cast protocol over the local network.
        </p>
      </div>
    </div>
  </div>


  <div class="channel-row" 
       style="background: #b6b6bd;
              color: #282828;">
    <div class="channel-row-background-spacer"></div>
    <video autoplay loop muted playsinline
           class="channel-bg"
           data-mobile-style="transform: translate(-55%, -50%);
                              width: 218%"
           data-desktop-style="min-width: 100%;
                               min-height: 100%;
                               max-width: 100%;
                               left:                 50%; top: 30%;
                               transform: translate(-50%,     -30%);">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/weather-caustics.mp4"
              type="video/mp4">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/weather-caustics.webm"
              type="video/webm">
    </video>
    <div class="channel-content">
      <div class="channel-row-textbox">
        <h2 class="channel-row-header">
          Weather Caustics
        </h2>
        <p class="channel-row-description">
          Projects ambient water motion reflections that react to live weather data at your location.
        </p>
        <p class="channel-row-description">
          <span class="channel-row-how"><u>How</u>:</span>
          The companion app sends the location to the Lantern when setting up. Lantern then pulls weather data from OpenWeatherMap and displays the appropriate water simulation.
        </p>
      </div>
    </div>
  </div>

  <div class="channel-row"
       style="background: #9ecccc;
              color: white;">
    <div class="channel-row-background-spacer"></div>
    <video autoplay loop muted playsinline
           class="channel-bg"
           data-mobile-style="transform: translate(-35%, -50%);
                              width: 233%"
           data-desktop-style="min-width: 100%;
                               min-height: 100%;
                               max-width: 106%;
                               left:                 80%; top: 60%;
                               transform: translate(-80%,     -60%);">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/augmented-clock.mp4"
              type="video/mp4">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/augmented-clock.webm"
              type="video/webm">
    </video>
    <div class="grad-nd hidden-xs"
         style="position: absolute;
                top: 0; bottom: 0;
                left: 50%; right: 0;
                z-index: 1;
                background: linear-gradient(to right, 
                                            rgba(7,99,100,0.00) 0%,
                                            rgba(102,171,172,0.30) 67%);"></div>
    <div class="channel-content"
         style="justify-content: flex-end">
      <div class="channel-row-textbox">
        <h2 class="channel-row-header">
          Augmented Clock
        </h2>
        <p class="channel-row-description">
          Makes the classic wall clock smart. Add your calendar to Lantern to see your days events as an overlay around the studio clock. 
        </p>
        <p class="channel-row-description">
          <span class="channel-row-how"><u>How</u>:</span>
          Use the companion app to add a publicly-available calendar URL. Lantern pulls the information periodically and shows events for the next 12 hours.
        </p>
      </div>
    </div>
  </div>


  <div class="channel-row" 
       style="background: #37373a;
              color: white;">
    <video autoplay loop muted playsinline
           class="channel-bg"
           data-mobile-style="transform: translate(-65.7%, -47%);
                              width: 271%"
           data-desktop-style="min-width: 100%;
                               min-height: 100%;
                               max-width: 130%;
                               left:                 60%; top: 50%;
                               transform: translate(-60%,     -50%);">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/space-flip.mp4"
              type="video/mp4">
      <source src="https://nordprojects-static.s3.amazonaws.com/lantern/space-flip.webm"
              type="video/webm">
    </video>            
    <div class="channel-row-background-spacer"></div>
    <div class="channel-content">
      <div class="channel-row-textbox mobile-full-bleed">
        <h2 class="channel-row-header">
          Space Porthole
        </h2>
        <p class="channel-row-description">
          Uses your local latitude/longitude and a database of stars and constellations to project the night sky in real time on your ceiling.
        </p>
        <p class="channel-row-description">
          <span class="channel-row-how"><u>How</u>:</span>
          Developed as a sketch in Processing, we ported it over to a Lantern channel using the Processing-Android project.
        </p>
      </div>
    </div>
  </div>

  <div class="channel-row"
       style="background: #909aae;
              color: white;">
    <img src="img/create-your-own.jpg"
         class="channel-bg"
         data-mobile-style="height: 140%;
                            width: auto;
                            left: 0;
                            top: 100%;
                            max-width: unset;
                            transform: translate(0, -100%);"
         data-desktop-style="min-width: 100%;
                             min-height: 100%;
                             width: 170%;
                             max-width: unset;
                             left:                 0%; top: 100%;
                             transform: translate(-0%,     -100%);">
    <div class="channel-content mobile-full-bleed"
         style="justify-content: flex-end">
      <div class="channel-row-textbox">
        <h2 class="channel-row-header">
          Create your own
        </h2>
        <p class="channel-row-description">
          Lantern’s channels are simple to make, being based on Android Fragments, and all the code is open-source. 
        </p>
        <p class="channel-row-description">
          <a href="https://github.com/nordprojects/lantern">Check out our Github</a> and get started <a href="https://github.com/nordprojects/lantern#creating-a-channel">writing your own channel</a>!
        </p>
      </div>
      <div class="channel-row-background-spacer" style="height: 30vw;"></div>
    </div>
  </div>

  <div class="studio-notes">
    <div class="margins">
      <div class="spacer" style="height: 30px"></div>
      <h2 class="studio-notes-header">
        Studio notes.
      </h2>
      <h3 class="studio-notes-subhead">
          Projected graphics and ‘Real-world AR’
          <div class="studio-notes-doodle-anchor-right">
            <img src="img/studio-notes-doodle-speaker.png"
                 data-desktop-style="width: 169px;
                                     top: -80px;"
                 data-mobile-style="width: 113px;
                                    left: -100px;
                                    top: -130px;">
          </div>
      </h3>
      <ul>
        <li>We like the term ‘Soft UI’ -  projections form peripheral, ambient, ephemeral displays, which can enhance real world objects and spaces with useful, beautiful data.</li>
        <li>When designing projections, keep clear of the corners of the projected area to avoid a boxed feeling reminiscent of screens.</li>
        <li>Projecting black is projecting nothing - useful for backgrounds and removing the display.</li>
        <li>Can be used for utility or delight, creating subtle but meaningful moments.</li>
        <li>Subtle way of making classic analog devices smart</li>
      </ul>
      <div class="studio-notes-doodle-anchor-left hidden-xs">
        <img src="img/studio-notes-doodle-sofa.png"
             data-desktop-style="width: 169px;
                                 top: -40px;
                                 right: 20px;">
      </div>
      <div class="spacer" style="height: 40px"></div>
      <img src="img/studio-notes-doodle-vision.png"
           class="visible-xs"
           style="width: 196px">

      <h3 class="studio-notes-subhead">
        AI-ready
      </h3>
      <ul>
        <li>The integrated camera brings opportunities to take advantage of Machine Learning applied to Computer Vision</li>
        <li>Opportunities to allow the device to recognise objects, conditions or signals, for a fully interactive UI. e.g. using your hands as paddles could open up Pong, placing an object on surface could trigger a story telling response.</li>
        <li>Check out our recent <a href="TODO">Quick, Draw: Pen &amp; Paper</a> installation at I/O 2018! We worked with the ML team at Android Things to make a version of Quick, Draw! using a real pen on a paper pad.</li>
      </ul>
      <div class="studio-notes-doodle-anchor-right hidden-xs">
        <img src="img/studio-notes-doodle-vision.png"
             data-desktop-style="width: 230px;
                                 top: -90px;
                                 left: -20px;">
      </div>
      <div class="spacer" style="height: 30px"></div>    
    </div>
  </div>

  {% include_relative footer.inc.html %}
</div>
<script>
  {% include_relative lantern.js %}
</script>