---
---
<!DOCTYPE HTML>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108024565-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108024565-1');
  </script>
  <!-- Global site tag end -->

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css?20170731">
  
  <!-- jquery is useful even before the page is loaded, and is commonly cached
       Other JS resources should go below the content -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  {% seo %}
</head>
<body>
  {% include topnav.html %}

  {{ content }}

  {% include footer.html %}

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
